<ion-header>
  <ion-navbar>
    <ion-title color="primary">Mon Panier</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
<ion-list>
  <button ion-item *ngFor="let article of cartItem, let i = index ">
    <ion-thumbnail item-left>
      <img [src]="article.item.pictures[0]" imageViewer>
    </ion-thumbnail>
    <h2>{{article.item.title}}</h2>
    <p>
      <ion-badge color="secondary">{{article.qty}}</ion-badge> x {{article.item.price | currency}}
    </p>
    <p *ngIf="article.item.availability.feed"> 
      Livraison: {{article.item.availability.feed | currency}}
    </p>
    <p>Total: {{ ((article.qty*article.item.price)+article.item.availability.feed)| currency }} </p>
    <button ion-button>
      <ion-icon name="mail"> Contacter </ion-icon>&nbsp;
    </button>
    <!--j'ai ma methode article et je lui passe en paramettre article et un index-->
    <button  (click)="removeItem(article, i)" ion-button item-right icon-only clear color="danger">
      <ion-icon name="remove-circle"></ion-icon>
    </button>
  </button>

</ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="closeModal()">Fermer</button>
      </ion-col>
      <ion-col>

        <button ion-button block color="secondary" outline>Panier {{total | currency}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
