page-details {
        ion-card{
            width: 100w !important;
            margin: auto !important;
        }
        .myImg{
            width: 70%;
            margin: auto;
        }
        .yellow{
            color: #f4e242;
        }
        .monFooter{
            text-align: center;
            height: 50px;
    
        }
}

